.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #8a8686;
}

/*
 * Стили компонента SearchForm
 */
.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 2px solid rgb(22, 97, 116);
  border-radius: 4px;
  overflow: hidden;
}

.SearchFormButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 2px solid rgb(22, 97, 116);
  border-radius: 4px;
  /* background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg'); */
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
}

.SearchFormButton:hover {
  opacity: 1;
}

.SearchFormButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchFormInput {
  display: inline-block;
  width: 50%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.SearchForm-input::placeholder {
  font: inherit;
  font-size: 18px;
}
