.MovieListImage {
  width: 90%;
  height: 420px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MovieListImage:hover {
  transform: scale(1.03);
}

.MovieListLink {
  text-decoration: none;
  color: rgb(22, 97, 116);
}

.MovieListItemTitle {
  width: 90%;
}
